<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://unpkg.com/vue@next"></script>
    <title>Document</title>
</head>
<body>
    <h1>
        Hello World
    </h1>
    <div id="app">
        {{welcome()}}
        <img v-bind:src="src" v-bind:alt="alt">
        <a v-bind:href="link">Bender</a>
        <p v-text="myText"></p>
        <p v-if="userAge >allowedAge" v-html="myHtml"></p>
        <p v-else>Hat</p>
        <p >{{checkUser()}}</p>

        <p v-show="checkAge()">Bite my Shiney Metal Ass</p>
        <p v-for="name,i in names">
            {{name}} : {{ i }}
        </p>

        <ol>
            <li v-for="movie in movies">
                {{movie.name}} - {{ movie.director }}
            </li>
        </ol>

        <ul>
            <li v-for="key,value,index in city">
                {{index}}:{{key}}:{{value}}
            </li>
        </ul>
    </div>
</body>

<script>
    const App = {
        data(){
            return{
                greeting: "Hello Vue",
                myBool: false,
                twoPlusTwo: ()=>{
                    return 2+2
                },
                userAge: 18,
                allowedAge: 18,
                src:"https://upload.wikimedia.org/wikipedia/en/a/a6/Bender_Rodriguez.png",
                alt:"bender",
                link: "https://en.wikipedia.org/wiki/Bender_(Futurama)",
                myText: "Bite my shiney",
                myHtml: "<strong>Metal Ass</strong>",
                names: ["tom", "dick", "harry"],
                movies: [{name: "Saving Pvt. Ryan", director: "Speilberg"}, {name:"The Rock", director:"brukheimer"}, {name:"Pulp Fiction", director:"Tarintino"}],
                city: {name: "Boston", state:"MA", population: 5000000}
            }
        },
        methods:{
            welcome(){
                return this.greeting
            },
            checkUser(){
                if(this.userAge > this.allowedAge){
                    return "Ass"
                }
                else if(this.userAge == this.allowedAge){
                    return "Butt"
                }
                else{
                    return "Hat"
                }
            },
            checkAge(){
                if(this.userAge > 17){
                    return true
                }
                else {
                    return false
                }
            }
        }
    }

    Vue.createApp(App).mount('#app')
</script>

</html>