<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://unpkg.com/vue@next"></script>
    <title>Document</title>
</head>
<body>
    <h1>
        Hello World
    </h1>
    <div id="app">
        <p v-once>Original name: {{ name }}</p>
        {{welcome()}}
        {{ name }}
        {{ updateName()}}
        <br>
        <form v-on:submit.prevent="handleSubmit">
            <input v-model="nameInput" />
            <p>{{ nameInput }}</p>
            <button type="submit">Submit</button>
        </form>
        <button v-on:click.right="changeName('Ron', $event)">Change Name</button>
        <img v-bind:src="src" v-bind:alt="alt">
        <a v-bind:href="link">Bender</a>
        <p v-text="myText"></p>
        <p v-if="userAge >allowedAge" v-html="myHtml"></p>
        <p v-else>Hat</p>
        <p >{{checkUser()}}</p>

        <p v-show="checkAge()">Bite my Shiney Metal Ass</p>
        <p v-for="name,i in names">
            {{name}} : {{ i }}
        </p>

        <ol>
            <li v-for="movie in movies">
                {{movie.name}} - {{ movie.director }}
            </li>
        </ol>

        <ul>
            <li v-for="key,value,index in city">
                {{index}}:{{key}}:{{value}}
            </li>
        </ul>
        <div class="box" v-on:mousemove="getCoord">
            hover me
            <p>x: {{x}}</p>
            <p>y: {{y}}</p>
        </div>

        <div v-on:click="updateCount">
            Click Me
        </div>
        {{count}}
    </div>
</body>

<script>
    const App = {
        data(){
            return{
                name: "Chris",
                greeting: "Hello ",
                myBool: false,
                twoPlusTwo: ()=>{
                    return 2+2
                },
                userAge: 18,
                allowedAge: 18,
                src:"https://upload.wikimedia.org/wikipedia/en/a/a6/Bender_Rodriguez.png",
                alt:"bender",
                link: "https://en.wikipedia.org/wiki/Bender_(Futurama)",
                myText: "Bite my shiney",
                myHtml: "<strong>Metal Ass</strong>",
                names: ["tom", "dick", "harry"],
                movies: [{name: "Saving Pvt. Ryan", director: "Speilberg"}, {name:"The Rock", director:"brukheimer"}, {name:"Pulp Fiction", director:"Tarintino"}],
                city: {name: "Boston", state:"MA", population: 5000000},
                count: 0,
                x: 0,
                y: 0,
                nameInput: "",
            }
        },
        methods:{
            welcome(){
                return this.greeting
            },
            checkUser(){
                if(this.userAge > this.allowedAge){
                    return "Ass"
                }
                else if(this.userAge == this.allowedAge){
                    return "Butt"
                }
                else{
                    return "Hat"
                }
            },
            checkAge(){
                if(this.userAge > 17){
                    return true
                }
                else {
                    return false
                }
            },
            updateName(){
                setTimeout(()=>{
                    this.name = "Steve"
                }, 2000)
            },
            updateCount(){
                this.count += 1
            },
            getCoord(event){
                this.x = event.clientX;
                this.y = event.clientY;
            },
            changeName(newName, event){
                this.name = newName;
                console.log(event)
            },
            handleSubmit(event){
                this.name = this.nameInput
            },
        }
    }

    Vue.createApp(App).mount('#app')
</script>

</html>